/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* чорный текст логотипа #000000 */

:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --subtitle-text-color: #757575;
  --accent-color: #2196f3;
  --body-backgrownd: #ffffff;
  --footer-backgrownd: #2f303a;
  --footer-text-color: #ffffff;
  --button-backgrownd: #f5f4fa;
}

body {
  background-color: var(--body-backgrownd);
  color: var(--primary-text-color);
  font-family: "Roboto", "Nunito", sans-serif;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo > .accent {
  color: var(--accent-color);
}

.site-nav a {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts-nav a {
  color: var(--subtitle-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-nav a:hover {
  color: var(--accent-color);
}

.site-nav a:hover .site-nav a:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.portfolio-card-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.properties-section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.06em;
}

.portfolio-card-subtitle {
  color: var(--subtitle-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.properties-section-text {
  color: var(--subtitle-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.portfolio a {
  text-decoration: none;
}
.portfolio a:hover,
.portfolio a:focus {
  text-decoration: underline;
}

/* Button */
.button {
  color: var(--title-text-color);
  background-color: var(--button-backgrownd);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.button-primary {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
}

.page-footer {
  background-color: var(--footer-backgrownd);
}
.page-footer > .logo {
  color: var(--footer-text-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.page-footer > .text {
  color: var(--footer-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.page-footer > .contacts-nav {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.hero-section {
  background-color: var(--footer-backgrownd);
}

.hero-hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.info-hover {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.06em;
}

.our-team {
  background-color: #f5f4fa;
}

.name-title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.profession {
  color: var(--subtitle-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
